<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application android:name=".PilotApplication" android:allowBackup="false" android:fullBackupContent="false"
        android:dataExtractionRules="@xml/data_extraction_rules" tools:targetApi="31"
        android:usesCleartextTraffic="false" android:supportsRtl="true"
        android:label="뚜버기" android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher" android:theme="@style/Theme.Waboranggae">
        <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTask"
            android:theme="@style/Theme.Waboranggae.Splash" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- Return signal only. Account credentials are never accepted in a URI. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="ddubugi" android:host="auth" android:path="/return" />
            </intent-filter>
        </activity>
    </application>
</manifest>
